@model IEnumerable<MovieCore.ViewModels.MovieViewModel>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>DatabaseName</th>
        </tr>
    </thead>
    @foreach (var m in Model)
    {
        <partial name="_MovieRow" for="@m" />
    }
</table>

    
